/*Master styles*/
body{

    margin: 0px;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.containerr{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

section{
    padding: 5rem 0;
}


::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
/*Global Sytles*/
header{
    width: 100%;
    height: 10rem;
    background-color: #feffff;
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}



body{
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, rgba(69, 104, 220, 0.9)0%,rgba(250, 172, 168,0.8)100%)
    ,url("images/code.jpg") center no-repeat;
}

.button{
    background-color: eb648c;
    border-radius: 2rem;
    color: #feffff;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 650ms;
    background-color:#79447a;

}

.button:hover{
    background-color:#5d355e;
}



/*Nav styles*/
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.leftside{
    display: flex;
}

.nav-wrapper > .leftside > div{
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a{
    color: rgb(134, 129, 129);
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
    color:black;
}

/*Contact me Style*/

.contactform{
    width: 85%;
    max-width: 600px;
    background:#feffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px rgb(69, 104, 220);
    font-family: 'Aldrich', sans-serif;

    
}



.contactform h1{
    margin-top: 0;
    font-family: 'Aldrich', sans-serif;
    font-weight: 200;
}

.txt-box{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.txt-box Label{
    display: black;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;

}
.txt-box input, .txt-box textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}