<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amelie Haefele Resume Website</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nature Tours | Home</title>
    <!--Ion Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <!--Our own stylesheet-->
    <link href="{{ url_for('static', filename='styles-contact.css') }}" rel="stylesheet" />
</head>


<body>
    <script type="text/javascript" src="scripts.js"></script>
    <header>


            <div class="nav-wrapper">

                <div class="leftside">

                    <div class="nav-link-wrapper">
                    <a href="/">Home</a>
                    </div>

                    <div class="nav-link-wrapper">
                    <a href="/contactMe">Contact Me</a>
                    </div>

                    <div class="nav-link-wrapper">
                    <a href="https://amelieshub.wordpress.com/">Art</a>
                    </div>

                    <div class="nav-link-wrapper">
                    <a href="static/CodingProjects.html">Past coding Projects</a>
                    </div>

                    <div class="nav-link-wrapper">
                    <a href="https://github.com/AmelieHaefeleUniversity">My Github</a>
                    </div>
                </div>

                <div class="rightside">
                    <div class="brand">
                        <div>AMELIE HAEFELE</div>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <div class="contactform">
            <form action="/emailSubmit" method="POST">

                    <h1>Contact Me</h1>
                    <div class="txt-box">
                        <Label>Full Name</Label>
                        <input type="text" name="name" id="" placeholder="Enter Your Name">
                    </div>

                    <div class="txt-box">
                        <Label>Email</Label>
                        <input type="text" name="email"  placeholder="Enter Your Email">
                    </div>

                    <div class="txt-box">
                        <Label>Phone Number</Label>
                        <input type="text" name="subject" placeholder="Enter Your Subject">
                    </div>

                    <div class="txt-box">
                        <Label>Message</Label>
                        <input type="text" name="message"  placeholder="Enter Your Message Here">
                    </div>
                    <button type="Submit" name="submit">Submit</button>


            </form>
        </div>

    </main>
       
</body>

</html>